.policy {
  padding-top: 60px;
  padding-bottom: 60px;
  background: #2d2d2d;
}
.policy .container {
  align-items: start;
}
.policy__title {
  color: #fff;
  font-family: "Montserrat";
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 22px;
}
.policy__text {
  color: rgba(255, 255, 255, 0.65);
  font-family: "Montserrat";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.2px;
  margin-bottom: 20px;
}
.policy__text:last-child {
  margin-bottom: 0;
}
@media screen and (min-width: 1440px) {
  .policy__text {
    margin-bottom: 30px;
  }
}
